
.contenedor{
    width: 100%;
    max-width: 1200px;
    height: 330px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    align-items: center;
}
.contenedor .tarjeta{
    width: 330px;
    border-radius: 8px;
    box-shadow: 8px 8px 8px rgba(255, 165, 0, 0.9);
    overflow: hidden;
    background-color: white;
    margin: 30px;
    text-align: center;
    transition: all 0.25s;
    color: black;
    

}
.contenedor .tarjeta:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(255, 155, 0, 0.884);
    
}

.contenedor .tarjeta img{
    width: 230px;
    height: 150px;
    align-content: center;
}

.contenedor .tarjeta h1{
    font-weight: 600;
}